{% if page.bg %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/{{ page.bg }})">
{% else %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/bg.svg)">
{% endif %}

  <div class="cover">

    <div class="cover-text">
      <div class="heading">

        {% if page.tags %}
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/posts/#{{ tag | downcase }}">{{ tag | downcase }}</a>
          {% endfor %}
        {% else %}
          {{ page.title }}
        {% endif %}

        <nav class="cover-navigation navigation--social">
          <ul class="navigation">

          {% if site.twitter_username %}
            <!-- Twitter -->
            <li class="navigation__item">
              <a href="http://twitter.com/{{ site.twitter_username }}" title="@{{ site.twitter_username }} on Twitter" target="_blank">
                <i class="icon icon-social-twitter"></i>
                <span class="label">Twitter</span>
              </a>
            </li>
          {% endif %}

          {% if site.linkedin_username %}
            <!-- LinkedIn -->
            <li class="navigation__item">
              <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="{{ site.linkedin_username }} on LinkedIn" target="_blank">
                <i class="icon icon-social-linkedin"></i>
                <span class="label">LinkedIn</span>
              </a>
            </li>
          {% endif %}

          {% if site.github_username %}
            <!-- GitHub -->
            <li class="navigation__item">
              <a href="https://www.github.com/{{ site.github_username }}" title="{{ site.github_username }} on GitHub" target="_blank">
                <i class="icon icon-social-github"></i>
                <span class="label">GitHub</span>
              </a>
            </li>
          {% endif %}

          {% if site.email %}
            <!-- Email -->
            <li class="navigation__item">
              <a href="mailto:{{ site.email }}" title="Email {{ site.email }}" target="_blank">
                <i class="icon icon-mail"></i>
                <span class="label">Email</span>
              </a>
            </li>
          {% endif %}

          <!-- RSS -->
          <li class="navigation__item">
            <a href="{{ site.baseurl }}/feed.xml" title="Subscribe" target="_blank">
              <i class="icon icon-rss"></i>
              <span class="label">RSS</span>
            </a>
          </li>

          </ul>
        </nav>


      </div>

      <p>
        {% if page.summary %}
          {{ page.summary }}
        {% endif %}
      </p>

    </div>

  </div>

  <div id="switcher"></div>
</aside>
